<% render partial: 'shared/users_subnav' %>

<h2><%= @partner.name %></h2>
<h3>Scan</h3>

<%= form_for @scan, url: process_scan_user_path(@partner) do |f| %>
  <div class="table-responsive">
    <span class="table table-striped">
      <% Item.categories.keys.each do |category| %>
        <span class="thead">
          <span class="tr">
            <h4><%= category.capitalize %></h4>
          </span>
        </span>
        <span class="thead">
          <span class="tr">
            <span class="th">Item</span>
            <span class="th border-start">Pick up</span>
            <span class="th"></span>
            <span class="th border-start">Return used</span>
            <span class="th">Returned used</span>
            <span class="th">Return unused</span>
            <span class="th">Returned unused</span>
          </span>
        </span>
        <span class="tbody">
          <%= f.fields_for :scan_items, @scan.scan_items do |ff| %>
            <% reservation = ff.object.reservation %>
            <% if reservation.item.category == category %>
              <%= ff.hidden_field :reservation, value: reservation.id %>
              <span class="tr">
                <span class="td"><%= reservation.item.name %></span>

                <span class="td border-start">
                  <%= render 'increment_buttons', field: :pick_up, f: ff, invalid_when_exceeds: (reservation.count - reservation.picked_up_count) %>
                </span>
                <span class="td">
                  <%= reservation.picked_up_count %>/<%= reservation.count %>
                  <i class="bi bi-exclamation-triangle" <%= "hidden" if reservation.picked_up_count <= reservation.count %>></i>
                </span>

                <span class="td border-start">
                  <%= render 'increment_buttons', field: :return_used, f: ff, invalid_when_exceeds: reservation.missing_count %>
                </span>
                <span class="td"><%= reservation.returned_used_count %></span>

                <span class="td">
                  <%= render 'increment_buttons', field: :return_unused, f: ff, invalid_when_exceeds: reservation.missing_count %>
                </span>

                <span class="td"><%= reservation.returned_unused_count %></span>
              </span>
            <% end %>
          <% end %>
        </span>
      <% end %>
    </span>
  </div>
  <%= f.submit "Confirm", class: "btn btn-primary btn-lg" %>
<% end %>
