<% content_for :subnav do %>
  <div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
      <%= link_to "Reservations", user_reservations_path(@partner), class: "nav-link" %>
      <%= link_to "Order summary", user_reservations_path(@partner), class: "nav-link" %>
      <%= link_to "Billing", user_reservations_path(@partner), class: "nav-link" %>
    </nav>
  </div>
<% end %>

<h2><%= @partner.name %></h2>
<h3>Manage reservations</h3>

<div class="alert alert-info" role="alert">
  Alle prijzen zijn steeds <strong>exclusief</strong> btw!
</div>

<% Item.categories.each do |k, c| %>
  <%= render "reservations/reservations", reservations: @partner.reservations.ordered_by_item_name.joins(:item).where("items.category = ?", c), category: c %>
<% end %>

<% if can? :manage, :all %>
  <%= button_to approve_all_user_reservations_path(@partner),
    class: "btn btn-primary", data: { confirm: "This will approve all pending reservations for this user." }  do %>
    <i class="bi bi-check2-all"></i> Approve all
  <% end %>
<% end %>
<hr>
<% if Settings.instance.complete? %>
  Special requests? <%= mail_to Settings.instance.email, "Let us know" %>!
<% end %>
<hr>
<%= render "reservations/statistics" %>
<hr>
<%= render "users/barcode" %>
<hr>
<%= render "users/billing" if can? :manage, :partner %>

<%= render partial: 'reservations/info_modal' %>
<%= render partial: 'users/disapprove_modal' %>
