<div class="row">
  <div class="col-sm-12">
    <h3>Manage reservations</h3>
    <%= render "reservations/reservations", reservations: @partner.reservations %>
  </div>
</div>

<% unless can? :manage, :all %>
  Special requests? <%= mail_to "info@12urenloop.be", "Let us know" %>!
<% end %>

<%= render "reservations/statistics" %>

<%= render partial: 'reservations/info_modal' %>
<%= render partial: 'users/disapprove_modal' %>
