<div class="row">
  <div class="col-sm-12">
    <h2><%= @partner.name %></h2>
    <h3>Manage reservations</h3>
    <% Item.categories.each do |k, c| %>
      <%= render "reservations/reservations", reservations: @partner.reservations.joins(:item).where("items.category = ?", c), category: c %>
    <% end %>
  </div>
</div>

<% unless can? :manage, :all %>
  Special requests? <%= mail_to Settings.instance.email || "fillmein@noreply.com", "Let us know!" %>!
<% end %>

<%= render "reservations/statistics" %>
<%= render "users/barcode" %>
<%= render "users/send_bill" if can? :manage, :partner %>

<%= render partial: 'reservations/info_modal' %>
<%= render partial: 'users/disapprove_modal' %>
