<div class='ui centered grid'>
  <div class='five wide column sign-in-content'>
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'ui form' }) do |f| %>
      <%= devise_error_messages! %>

      <div class='field'>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: :email %>
      </div>
      <%= f.submit 'Send me reset password instructions', class: 'ui button' %>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>
