<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  </head>
  <body id="pdf">
    <div class="container">
      <div id="header">
        <div id="header-left">
          <%= image_tag wicked_pdf_asset_base64 'logo.jpg' %>
        </div>
        <div id="header-right">
          <span>
            <b><%= Settings.instance.organisation_name %></b>
          </span>
          <span>Hoveniersberg 24, 9000 Gent</span>
          <span><%= mail_to "info@12urenloop.be" %></span>
        </div>
      </div>
      <div>
        <h2>
          Factuur voor <%= partner.name %>
        </h2>

        Naar aanleiding van <%= Settings.instance.event_name %> hebben jullie
        verschillende items bij ons gereserveerd en afgehaald.
        Hieronder vindt u hiervoor de rekening.

        <h3>Details</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Item</th>
            <th>Aantal</th>
            <th class="price">Prijs per item</th>
            <th class="price">Prijs (verbruik)</th>
            <th>Niet teruggebracht</th>
            <th class="price">Waarborg per item</th>
            <th class="price">Prijs (waarborg)</th>
            <th class="price">Totaal</th>
          </tr>
          </thead>
          <% Item.categories.each do |k, c| %>
            <thead>
            <tr>
              <th colspan="8">
                <%= content_tag :h5, k.capitalize %>
              </th>
            </tr>
            </thead>
            <tbody>
            <% reservations.ordered_by_item_name.category(c).each do |res| %>
              <tr>
                <td>
                  <span class="item-name"><%= res.item.name %></span>
                  <span class="item-description"><%= res.item.description %></span>
                </td>
                <td><%= res.used_count %></td>
                <td class="price"><%= euro res.item.price %></td>
                <td class="price"><%= euro res.usage_cost %></td>
                <td class="<%= 'text-muted' unless res.missing? %>"><%= res.missing_count %></td>
                <td class="price <%= 'text-muted' unless res.missing? %>"><%= euro res.item.deposit %></td>
                <td class="price <%= 'text-muted' unless res.missing? %>"><%= euro res.deposit_cost %></td>
                <th class="price"><%= euro res.total_cost %></th>
              </tr>
            <% end %>
            <tr>
              <th>
                <span class="item-name">Totaal categorie</span>
              </th>
              <td></td>
              <td class="price"></td>
              <td class="price"><%= euro reservations.ordered_by_item_name.category(c).usage_cost %></td>
              <td></td>
              <td></td>
              <td class="price"><%= euro reservations.ordered_by_item_name.category(c).deposit_cost %></td>
              <th class="price"><%= euro reservations.ordered_by_item_name.category(c).total_cost %></th>
            </tr>
            </tbody>
          <% end %>
        </table>

        <div class="row">
          <div id="total-per-cat" class="col-md-3">
            <h3>Per categorie</h3>
            <table class="table">
              <% Item.categories.each do |k,c| %>
                <tr>
                  <td><%= k.capitalize %></td>
                  <td class="price"><%= euro reservations.category(c).total_cost %></td>
                </tr>
              <% end %>
            </table>
          </div>

          <div id="total-price" class="col-md-3 col-md-offset-6">
            <h3>Total: <%= euro reservations.total_cost %></h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

