<h1>Settings</h1>

<%= form_errors(@settings) %>

<%= form_with model: @settings, url: setting_path, method: :put do |f| %>
  <%= form_text_field f, :organisation_name %>
  <%= form_text_field f, :event_name %>
  <%= form_email_field f, :email %>
  <%= form_date_field f, :deadline %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
