<%= form_for [@partner, object], html: { class: 'tr new_reservation' } do |f| %>
  <span class="td">
      <% if button_name == 'Save' %>
        <%= object.item.name %>
      <% else %>
        <%= f.collection_select :item_id, Item.where(category: category), :id, :to_s, {}, class: 'form-control', min: 1 %>
      <% end %>
    </span>
  <span class="td"></span>
  <span class="td"></span>
  <span class="td"></span>
  <span class="td border-start"><%= f.number_field :count, size: 4, class: 'form-control' %></span>
  <span class="td"></span>
  <span class="td"></span>
  <span class="td border-start"></span>
  <span class="td"></span>
  <span class="td"></span>
  <span class="td border-start"></span>
  <span class="td"></span>
  <span class="td"></span>
  <span class="td border-start border-2"><%= f.submit button_name, class: 'btn btn-sm btn-primary' %></span>
<% end %>
