<%= form_for [@partner, object], html: { style: 'display: contents' } do |f| %>
  <span class="td">
      <% if button_name == 'Save' %>
        <%= object.item.name %>
      <% else %>
        <%= f.collection_select :item_id, Item.where(category: category), :id, :to_s, {}, class: 'form-control', min: 1 %>
      <% end %>
    </span>
  <span class="td"></span>
  <span class="td"></span>
  <span class="td"></span>
  <span class="td border-start">
    <%= render partial: 'table_field_with_feedback',  locals: {
      f: f, field: :count, field_type: :number_field
    } %>
  </span>
  <span class="td"></span>
  <span class="td"></span>
  <% if show_pickup_columns? %>
    <span class="td border-start"></span>
    <span class="td"></span>
    <span class="td"></span>
    <span class="td border-start"></span>
    <span class="td"></span>
    <span class="td"></span>
  <% end %>
  <span class="td border-start border-2"><%= f.submit button_name, class: 'btn btn-sm btn-primary' %></span>
<% end %>
