<tr>
  <%= form_for [object.user, object], remote: true do |f| %>
    <td>
      <% if button_name == 'Save' %>
        <%= object.item.name %>
      <% else %>
        <%= f.collection_select :item_id, Item.all, :id, :name_with_descr_price, {}, class: 'form-control' %>
      <% end %>
    </td>
    <td></td>
    <td><%= f.number_field :count, class: 'form-control' %></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= f.submit button_name, class: 'btn btn-sm btn-primary' %></td>
    <%= javascript_tag do %>
      var id = "#<% if button_name == 'Save' %>edit_<% end %><%= dom_id(f.object) %>";
      var inputs = $(id).parent().find('input');
      $(id).parent().find('input[type="submit"]').on('click', function(e) {
        e.preventDefault();
        $(id).append(inputs.clone());
        $(id).append('<input type="hidden" name="_method" value="<%= action %>">');
        $(id).submit();
      });
    <% end %>
  <% end %>
</tr>
