<%= form_for [@partner, object] do |f| %>
    <% if button_name == 'Save' %>
      <%= object.item.name %>
    <% else %>
      <%= f.collection_select :item_id, Item.where(category: category), :id, :to_s, {}, class: 'form-control', min: 1 %>
    <% end %>
  </span>
  <%= f.number_field :count, class: 'form-control' %>
  <%= f.submit button_name, class: 'btn btn-sm btn-primary' %>
<% end %>
