<%= turbo_frame_tag reservation, class: 'tr' do %>
  <span class="td"><%= reservation.item.name %></span>
  <span class="td"><%= reservation.item.description %></span>
  <span class="td text-end"><%= euro(reservation.item.price) %></span>
  <span class="td text-end"><%= euro(reservation.item.deposit) %></span>

  <span class="td border-start text-end"><%= reservation.count %></span>
  <span class="td text-end"><%= euro(reservation.reservation_cost) %></span>
  <span class="td <%= status_colour(reservation) %>">
    <%= raw(status(reservation)) %>
    <% if reservation.disapproved? %>
      <a href="#" data-bs-toggle="tooltip" data-placement="top" data-bs-title="<%= reservation.disapproval_message %>">
        <i class="bi bi-question-circle"></i>
      </a>
    <% end %>
  </span>

  <% if show_pickup_columns? %>
    <span class="td border-start text-end"><%= reservation.picked_up_count %></span>
    <span class="td <%= returned_colour(reservation) %>"><%= reservation.returned_count %> <span class="text-muted">(<%= reservation.returned_used_count %> used, <%= reservation.returned_unused_count %> unused)</span></span>
    <span class="td text-end"><%= euro(reservation.usage_cost) %></span>

    <span class="td border-start text-end"><%= reservation.missing_count %></span>
    <span class="td text-end"><%= euro(reservation.deposit_cost) %></span>

    <span class="td border-start border-2 text-end"><%= euro(reservation.total_cost) %></span>
  <% end %>

  <span class="td border-start border-2">
    <span class="nowrap">
      <%= render "reservations/actions", reservation: reservation %>
    </span>
  </span>
<% end %>
