<tr class="<%= row_colour(reservation) %>">
  <td><%= reservation.item.name %></td>
  <td><%= reservation.item.description %></td>
  <td class="text-end"><%= euro(reservation.item.price) %></td>
  <td class="text-end"><%= euro(reservation.item.deposit) %></td>

  <td class="border-start text-end"><%= reservation.count %></td>
  <td class="text-end"><%= euro(reservation.reservation_cost) %></td>
  <td>
    <%= raw(status(reservation)) %>
    <% if reservation.disapproved? %>
      <span class="glyphicon glyphicon-question-sign reservation-disapprove-tooltip" data-toggle="tooltip" data-placement="top" title="<%= reservation.disapproval_message %>"></span>
    <% end %>
  </td>

  <td class="border-start text-end"><%= reservation.picked_up_count %></td>
  <td><%= reservation.returned_count %> (<%= reservation.returned_used_count %> used, <%= reservation.returned_unused_count %> unused)</td>
  <td class="text-end"><%= euro(reservation.usage_cost) %></td>


  <td class="border-start text-end"><%= reservation.missing_count %></td>
  <td class="text-end"><%= euro(reservation.deposit_cost) %></td>

  <td class="border-start border-2 text-end"><%= euro(reservation.total_cost) %></td>

  <td class="border-start border-2">
    <div class="nowrap">
      <%= render "reservations/actions", reservation: reservation %>
    </div>
  </td>
</tr>
