<span id="reservations-<%= category %>" class="tbody"  id="table-reservations-<%= category %>">
  <%= render reservations %>
</span>

<span class="tbody">
  <% if can? :create, Reservation %>
    <%= render partial: 'new_reservation', locals: {object: @partner.reservations.new, category: category, button_name: "Add reservation"} %>
  <% else %>
    <div class="alert alert-warning" role="alert">
      The deadline for reservations (<%= nice_time Settings.instance.deadline %>) has passed.
      Contact <%= mail_to(Settings.instance.email.present? ? mail_to(Settings.instance.email) : "us") %> to alter or add reservations.
    </div>
  <% end %>
</span>
