<div class="table-responsive">
  <table class="table table-striped" id="table-reservations-<%= Item.categories.key category %>">
    <thead>
      <tr>
        <th>Item</th>
        <th>Count</th>
        <th>Picked up</th>
        <th>Returned <span id="item-edit-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-html="true" title="<u>Used:</u> For these, you'll get only your deposit back.<br /><u>Unused:</u> For these, you'll get your cost + deposit back"></span></th>
        <th>Status</th>
        <th width="210">Actions <span id="item-edit-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Approved items can not be edited or deleted. Please contact an admin to edit these. Only the amount of unapproved items can be changed."></span></th>
      </tr>
    </thead>
    <tbody>
      <%= render reservations %>
      <% if can? :create, Reservation %>
        <%= render "reservations/form", object: @partner.reservations.new, category: category, button_name: "Add reservation" %>
      <% else %>
        <tr class="warning">
          <td colspan="7">
            <span class="label label-warning">Warning!</span>
            The deadline for reservations (<%= nice_time Settings.instance.deadline %>) has passed. Contact <%= mail_to Settings.instance.email || "fillmein@noreply.com" %> to alter or add reservations.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id='reservation-errors' class='form-errors'>
  </div>
</div>
