<div class="tr <%= row_colour(reservation) %>" id="<%= dom_id(reservation) %>">
  <span class="td"><%= reservation.item %></span>
  <span class="td"><%= reservation.count %></span>
  <span class="td"><%= reservation.picked_up_count %></span>
  <span class="td"><%= reservation.returned_count %> (<%= reservation.returned_used_count %> used, <%= reservation.returned_unused_count %> unused)</span>
  <span class="td">
    <%= raw(status reservation) %>
    <% if reservation.disapproved? %>
      <span class="glyphicon glyphicon-question-sign reservation-disapprove-tooltip" data-toggle="tooltip" data-placement="top" title="<%= reservation.disapproval_message %>"></span>
    <% end %>
  </span>
  <span class="td">
    <div class="nowrap">
      <%= render "reservations/actions", reservation: reservation %>
    </div>
  </span>
</div>
