<div class="table-responsive">
  <div class="table table-striped" id="table-reservations-<%= Item.categories.key category %>">
    <div class="thead">
      <span class="th">Item</span>
      <span class="th">Item description</span>
      <span class="th">Count</span>
      <span class="th">Price</span>
      <span class="th">Total</span>
      <span class="th">Picked up</span>
      <span class="th">Brought back</span>
      <span class="th">Status</span>
      <span class="th" width="210">Actions <span id="item-edit-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Approved items can not be edited or deleted. Please contact an admin to edit these. Only the amount of unapproved items can be changed."></span></span>
    </div>
    <div class="tbody">
      <%= render reservations %>
      <% if can? :create, Reservation %>
        <%= render "reservations/form", object: @partner.reservations.new, category: category, button_name: "Add reservation" %>
      <% else %>
        <tr class="warning">
          <td colspan="7">
            <span class="label label-warning">Warning!</span>
            The deadline for reservations (<%= nice_time Settings.instance.deadline %>) has passed. Contact <%= mail_to Settings.instance.email || "fillmein@noreply.com" %> to alter or add reservations.
          </td>
        </tr>
      <% end %>
    </div>
  </div>
  <div id='reservation-errors' class='form-errors'>
  </div>
</div>
