<tr id="<%= dom_id(reservation) %>">
  <td><%= reservation.item.name %></td>
  <td><%= reservation.count %></td>
  <td><%= number_with_precision reservation.item.price, precision: 2 %></td>
  <td><%= number_with_precision reservation.item.price*reservation.count, precision: 2 %></td>
  <td><%= raw(approved reservation) %></td>
  <td>
    <div class="nowrap">
      <% unless reservation.approved %>
        <%= render "reservations/actions", reservation: reservation %>
      <% end %>
    </div>
  </td>
</tr>
