<div id="price-statistics">
  <h3>Price summary</h3>
  <table class="table table-striped table-hover table-nonfluid">
    <thead>
      <tr>
        <th></th>
        <th colspan="2">Reserved</th>
        <th colspan="2">Picked up</th>
        <th colspan="2">Total</th>
      </tr>
      <tr>
        <th></th>
        <th>Cost</th>
        <th>Deposit</th>
        <th>Cost</th>
        <th>Deposit</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <th>Approved:</th>
        <td>
          <%= euro @partner.reservations.approved.joins(:item).sum("reservations.count*items.price/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.joins(:item).sum("reservations.count*items.deposit/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.joins(:item).usage_cost %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.joins(:item).deposit_cost %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.joins(:item).total_cost %>
        </td>
      </tr>
      <tr class="warning">
        <th>Pending:</th>
        <td>
          <%= euro @partner.reservations.pending.joins(:item).sum("reservations.count*items.price/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.pending.joins(:item).sum("reservations.count*items.deposit/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.pending.joins(:item).usage_cost %>
        </td>
        <td>
          <%= euro @partner.reservations.pending.joins(:item).deposit_cost %>
        </td>
        <td>
          <%= euro @partner.reservations.pending.joins(:item).total_cost %>
        </td>
      </tr>
      <tr>
        <th>Total:</th>
        <td>
          <%= euro @partner.reservations.approved.or(@partner.reservations.pending).joins(:item).sum("reservations.count*items.price/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.or(@partner.reservations.pending).joins(:item).sum("reservations.count*items.deposit/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.or(@partner.reservations.pending).joins(:item).usage_cost %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.or(@partner.reservations.pending).joins(:item).deposit_cost %>
        </td>
        <th>
          <%= euro @partner.reservations.approved.or(@partner.reservations.pending).joins(:item).total_cost %>
        </th>
      </tr>
    </tbody>
  </table>
</div>
