<div id="price-statistics">
  <h3>Price summary</h3>
  <p>
    This does not include items that have been brought back full. Your invoice will take those into account.
  </p>
  <table class="table table-striped table-hover table-nonfluid">
    <thead>
      <tr>
        <th></th>
        <th>Price</th>
        <th>Deposit</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <th>Approved:</th>
        <td>
          <%= euro @partner.reservations.approved.joins(:item).sum("reservations.count*items.price/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.joins(:item).sum("reservations.count*items.deposit/100.0") %>
        </td>
      </tr>
      <tr class="warning">
        <th>Pending:</th>
        <td>
          <%= euro @partner.reservations.pending.joins(:item).sum("reservations.count*items.price/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.pending.joins(:item).sum("reservations.count*items.deposit/100.0") %>
        </td>
      </tr>
      <tr>
        <th>Total:</th>
        <td>
          <%= euro @partner.reservations.approved.or(@partner.reservations.pending).joins(:item).sum("reservations.count*items.price/100.0") %>
        </td>
        <td>
          <%= euro @partner.reservations.approved.or(@partner.reservations.pending).joins(:item).sum("reservations.count*items.deposit/100.0") %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
