<div class="row">
  <div class="col-sm-12">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#items" data-toggle="tab">Per items</a></li>
      <li><a href="#partners" data-toggle="tab">Per partner</a></li>
      <li><a href="#items_barcodes" data-toggle="tab">Item barcodes</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="items">
        <h3>Item</h3>
        In the underlying list, a summary can be found of all the reserved approved items.

        <div class="table-responsive">
          <table class="table table-striped" id="table-items">
            <thead>
              <th>Name</th>
              <th>Description</th>
              <th>Price per item</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </thead>
            <tbody>
              <% @reservations.each do |item, quantity| %>
                <%= render item, quantity: quantity %>
              <% end %>
              <tr>
                <th>Totals:</th>
                <th></th>
                <th></th>
                <th><%= @total_quantity %></th>
                <th><%= number_with_precision @total_price, precision: 2 %></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane" id="partners">
        <h3>Partner</h3>
        A summery of total price per partner. Only approved items are taken into account! Click on the name of the partner to see his individual reservations.
        <div class="table-responsive">
          <table class="table table-striped" id="table-items">
            <thead>
              <th>Name</th>
              <th>Reservations</th>
              <th>Total price</th>
            </thead>
            <tbody>
              <% @per_partner.each do |partner, info| %>
                <% total_price, count = *info %>
                <tr>
                  <td><%= link_to partner.name, partner %></td>
                  <td><%= count %></td>
                  <td><%= total_price %></td>
                </tr>
              <% end %>
              <tr>
                <th>Totals:</th>
                <th><%= @total_reservations %></th>
                <th><%= number_with_precision @total_price, precision: 2 %></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane" id="items_barcodes">
        <h3>Item barcodes</h3>
        <% Item.all.each do |i| %>
          <div class="col-md-6">
            <h4><%= i.name %></h4>
            <%
              barcode = Barcodes.create('EAN13', data: i.barcode_data, bar_width: 35, bar_height: 1500, caption_height: 300, caption_size: 275 ) # required: height > size
              rendered = Barcodes::Renderer::Image.new(barcode).render
            %>
            <img src="data:image/png;base64,<%= Base64.encode64 rendered %>" />
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
