<div class="row">
  <div class="col-sm-12">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#items" data-toggle="tab">Per items</a></li>
      <li><a href="#partners" data-toggle="tab">Per partner</a></li>
      <li><a href="#partner_barcodes" data-toggle="tab">Partner barcodes</a></li>
      <li><a href="#item_barcodes" data-toggle="tab">Item barcodes</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="items">
        <h3>Items</h3>
        In the underlying list, a summary can be found of all the reserved approved items.

        <% Item.categories.each do |k,c| %>
          <h4><%= k %></h4>
          <div class="table-responsive">
            <div class="table table-striped" id="table-items">
              <div class="thead">
                <div class="tr">
                  <span class="th">Name</span>
                  <span class="th">Description</span>
                  <span class="th">Price per item</span>
                  <span class="th">Picked Up/Reserved</span>
                  <span class="th">Total Price</span>
                </div>
              </div>
              <div class="tbody">
                <% Reservation.approved.joins(:item).category(c).select("(SUM('reservations'.'picked_up_count') - SUM('reservations'.'brought_back_count')) AS gone, SUM('reservations'.'count') AS count, 'items'.*, 'reservations'.*").group(:item_id).each do |res| %>
                  <%= render res.item, picked_up: res.gone, reserved: res.count %>
                <% end %>
                <div class="tr">
                  <span class="th">Totals:</span>
                  <span class="th"></span>
                  <span class="th"></span>
                  <span class="th"><%= @total_quantity.category(c).sum(:picked_up_count) %>/<%= @total_quantity.category(c).sum(:count) %></span>
                  <span class="th"><%= number_with_precision @total_quantity.category(c).sum_picked_up, precision: 2 %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-pane" id="partners">
        <h3>Partner</h3>
        A summery of total price per partner. Only approved items are taken into account! Click on the name of the partner to see his individual reservations.
        <div class="table-responsive">
          <table class="table table-striped" id="table-items">
            <thead>
              <th>Name</th>
              <th>Reservations</th>
              <th>Total price</th>
            </thead>
            <tbody>
              <% @per_partner.each do |partner, info| %>
                <% total_price, count = *info %>
                <tr>
                  <td><%= link_to partner.name, partner %></td>
                  <td><%= count %></td>
                  <td><%= total_price %></td>
                </tr>
              <% end %>
              <tr>
                <th>Totals:</th>
                <th><%= @total_reservations %></th>
                <th><%= number_with_precision @total_quantity.joins(:item).sum_picked_up, precision: 2 %></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane" id="partner_barcodes">
        <%= render partial: 'barcode_overview', locals: { model: User.partners } %>
      </div>

      <div class="tab-pane" id="item_barcodes">
        <%= render partial: 'barcode_overview', locals: { model: Item.all } %>
      </div>

    </div>
  </div>
</div>
