<% if @display_force %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Warning!</strong>
    <% if @reservation %>
      <%= @partner.name %> <strong>already picked up</strong> <%= @reservation.picked_up_count %>x <%= @item.name %> and has only reserved <%= @reservation.count %>. This reservation can be force added, which can result in extra costs.
    <% else %>
      <%= @partner.name %> has <strong>no approved reservations for this item</strong>. This reservation can be force added, which can result in extra costs.
    <% end %>

    <%= form_tag force_path, url: force_path, remote: false do %>
      <%= hidden_field_tag 'force[partner_id]', @partner.id %>
      <%= hidden_field_tag 'force[item_id]', @item.id %>
      <%= hidden_field_tag 'force[count]', @count %>
      <%= submit_tag "Force add this pick up", class: 'btn btn-warning' %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <%= form_tag check_path, url: check_path, remote: false do %>
        <label>Action:</label><br />
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary btn-lg btn-action active">
            <input type="radio" name="scan[options]" id="options" value="out" checked><span class="glyphicon glyphicon-log-out"></span> Pick up
          </label>
          <label class="btn btn-default btn-lg btn-action">
            <input type="radio" name="scan[options]" id="options" value="in"><span class="glyphicon glyphicon-log-in"></span> Bring back
          </label>
        </div><br /><br />

        <div class="form-group typeahead-scan">
          <label for="partner">Partner:</label>
          <input required type="text" class="form-control typeahead"
            placeholder="Start searching by entering a name or barcode" name="scan[partner_barcode]" id="partner">
        </div>

        <div class="form-group typeahead-scan">
          <label for="item">Item:</label>
          <input required type="text" class="form-control typeahead"
            placeholder="Start searching by entering a name or barcode" name="scan[item_barcode]" id="item">
        </div>

        <div class="form-group">
          <label for="count">Amount:</label>
          <input class="form-control" id="count" name="scan[count]" type="number" value="1">
        </div>

        <%= submit_tag 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<script>
// Partners
var partners = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name', 'barcode'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '<%= list_partners_path %>'
});

partners.initialize();

$('#partner').typeahead(
    {
        hint: true,
        highlight: true,
        minLength: 1,
        autoselect: true
    },
    {
        name: 'partner',
        displayKey: function(partner) {
          return partner.name + ' - ' + partner.barcode;
        },
        source: partners.ttAdapter(),
        templates: {
            suggestion: function(item) {
                var container = $('<div/>');
                var name = $('<span/>', {
                    class: "typeahead-scan-name",
                    text: item.name
                });
                var barcode = $('<span/>', {
                    class: "typeahead-scan-barcode",
                    text: item.barcode
                });
                return container.append(name).append(barcode);
            }
        }
    }
);

// Items
var items = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name', 'barcode'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '<%= list_items_path %>'
});

items.initialize();

$('#item').typeahead(
    {
        hint: true,
        highlight: true,
        minLength: 1,
        autoselect: true
    },
    {
        name: 'items',
        displayKey: function(item) {
          return item.name + ' - ' + item.barcode;
        },
        source: items.ttAdapter(),
        templates: {
            suggestion: function(item) {
                var container = $('<div/>');
                var name = $('<span/>', {
                    class: "typeahead-scan-name",
                    text: item.name
                });
                var barcode = $('<span/>', {
                    class: "typeahead-scan-barcode",
                    text: item.barcode
                });
                return container.append(name).append(barcode);
            }
        }
    }
);
</script>
