<h3>Scan</h3>

<% if @display_force %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Warning!</strong>
    <% if @reservation %>
      <%= @partner.name %> <strong>already picked up</strong> <%= @reservation.picked_up_count %>x <%= @item.name %> and has only reserved <%= @reservation.count %>. This reservation can be force added, which can result in extra costs.
    <% else %>
      <%= @partner.name %> has <strong>no approved reservations for this item</strong>. This reservation can be force added, which can result in extra costs.
    <% end %>

    <%= form_tag force_path, url: force_path, remote: false do %>
      <%= hidden_field_tag 'force[partner_id]', @partner.id %>
      <%= hidden_field_tag 'force[item_id]', @item.id %>
      <%= hidden_field_tag 'force[count]', @count %>
      <%= hidden_field_tag 'force[option]', @option %>
      <%= submit_tag "Force add this pick up", class: 'btn btn-warning' %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <%= form_tag check_path, url: check_path, remote: false do %>
      <label for="options">
        Action:
        <span id="actions-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" data-html="true" title="Pick up: give item to club<br />Return unused: club will receive price and deposit back<br />Return used: club will receive only deposit back"></span>
      </label>

      <div class="form-group btn-toolbar">
        <div class="btn-group" data-toggle="buttons">
          <label id="out" class="btn btn-lg btn-action <% if @option == :out || @option.nil? %>active btn-primary<% else %>btn-default<% end %>">
            <input type="radio" name="scan[options]" id="options" value="out" <% if @option == :out || @option.nil? %>checked<% end %>><span class="glyphicon glyphicon-log-out"></span> Pick up
          </label>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label id="return_unused" class="btn btn-lg btn-action <% if @option == :return_unused %>active btn-primary<% else %>btn-default<% end %>">
            <input type="radio" name="scan[options]" id="options" value="return_unused" <% if @option == :return_unused %>checked<% end %>><span class="glyphicon glyphicon-log-in"></span> Return unused
          </label>
          <label id="return_used" class="btn btn-lg btn-action <% if @option == :return_used %>active btn-primary<% else %>btn-default<% end %>">
            <input type="radio" name="scan[options]" id="options" value="return_used" <% if @option == :return_used %>checked<% end %>><span class="glyphicon glyphicon-log-in"></span> Return used
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label for="partner">Partner</label>
        <%= select_tag 'scan[partner]',
          options_for_select(User.partners.all.order(:name).map { |u| ["#{u.name} (#{u.barcode})", u.id] }),
          include_blank: true,
          class: "form-control",
          data: { controller: 'select', placeholder: "Start searching by entering a name or barcode" } %>
      </div>

      <div class="mb-3">
        <label for="partner">Item</label>
        <%= select_tag 'scan[item]',
          options_for_select(Item.all.order(:name).map { |i| ["#{i.name} (#{i.barcode})", i.id] }),
          include_blank: true,
          class: "form-control",
          data: { controller: 'select', placeholder: "Start searching by entering a name or barcode" } %>
      </div>

      <div class="mb-3">
        <label for="count">Amount</label>
        <input class="form-control" id="count" name="scan[count]" type="number" value="1">
      </div>

      <%= submit_tag 'Scan', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
