<h3>Scan</h3>

<% if @display_force %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Warning!</strong>
    <% if @reservation %>
      <%= @partner.name %> <strong>already picked up</strong> <%= @reservation.picked_up_count %>x <%= @item.name %> and has only reserved <%= @reservation.count %>. This reservation can be force added, which can result in extra costs.
    <% else %>
      <%= @partner.name %> has <strong>no approved reservations for this item</strong>. This reservation can be force added, which can result in extra costs.
    <% end %>

    <%= form_tag force_path, url: force_path, remote: false do %>
      <%= hidden_field_tag 'force[partner_id]', @partner.id %>
      <%= hidden_field_tag 'force[item_id]', @item.id %>
      <%= hidden_field_tag 'force[count]', @count %>
      <%= hidden_field_tag 'force[option]', @option %>
      <%= submit_tag "Force add this pick up", class: 'btn btn-warning' %>
    <% end %>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <%= form_tag check_path, url: check_path, local: true, data: { turbo: false } do %>
      <label for="options">
        Action
        <span id="actions-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" data-html="true" title="Pick up: give item to club<br />Return unused: club will receive price and deposit back<br />Return used: club will receive only deposit back"></span>
      </label>

      <div class="mb-3">
        <div class="form-group btn-toolbar" role="toolbar">
          <input type="radio" id="out" class="btn-check" name="scan[options]" value="out"
                 <% if @option == :out || @option.nil? %>checked<% end %>
          >
          <label id="out" for="out" class="btn btn-lg btn-outline-primary me-2">
            <span class="bi bi-box-arrow-up"></span> Pick up
          </label>

          <input type="radio" id="return_unused" class="btn-check" name="scan[options]" value="return_unused"
                 <% if @option == :return_unused %>checked<% end %>
          >
          <label id="return_unused" for="return_unused" class="btn btn-lg btn-outline-primary me-2">
            <span class="bi bi-box-arrow-in-down"></span> <span class="bi bi-battery-full"></span> Return unused
          </label>

          <input type="radio" id="return_used" class="btn-check" name="scan[options]" value="return_used"
                 <% if @option == :return_used %>checked<% end %>
          >
          <label id="return_used" for="return_used" class="btn btn-lg btn-outline-primary me-2">
            <span class="bi bi-box-arrow-in-down"></span> <span class="bi bi-battery"></span> Return used
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label for="partner">Partner</label>
        <%= select_tag 'scan[partner]',
          options_for_select(User.partners.all.order(:name).map { |u| ["#{u.name} (#{u.barcode})", u.id] }),
          include_blank: true,
          class: "form-control",
          data: { controller: 'select', placeholder: "Start searching by entering a name or barcode" } %>
      </div>

      <div class="mb-3">
        <label for="partner">Item</label>
        <%= select_tag 'scan[item]',
          options_for_select(Item.all.order(:name).map { |i| ["#{i.name} (#{i.barcode})", i.id] }),
          include_blank: true,
          class: "form-control",
          data: { controller: 'select', placeholder: "Start searching by entering a name or barcode" } %>
      </div>

      <div class="mb-3">
        <label for="count">Amount</label>
        <input class="form-control" id="count" name="scan[count]" type="number" value="1">
      </div>

      <%= submit_tag 'Scan', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
