<% if @display_force %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Warning!</strong>
    <% if @reservation %>
      <%= @partner.name %> <strong>already picked up</strong> <%= @reservation.picked_up_count %>x <%= @item.name %> and has only reserved <%= @reservation.count %>. This reservation can be force added, which can result in extra costs.
    <% else %>
      <%= @partner.name %> has <strong>no approved reservations for this item</strong>. This reservation can be force added, which can result in extra costs.
    <% end %>

    <%= form_tag force_path, url: force_path, remote: false do %>
      <%= hidden_field_tag 'force[partner_id]', @partner.id %>
      <%= hidden_field_tag 'force[item_id]', @item.id %>
      <%= hidden_field_tag 'force[count]', @count %>
      <%= hidden_field_tag 'force[option]', @option %>
      <%= submit_tag "Force add this pick up", class: 'btn btn-warning' %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <%= form_tag check_path, url: check_path, remote: false do %>
      <label for="options">
        Action:
        <span id="actions-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" data-html="true" title="Pick up: give item to club<br />Return unused: club will receive price and deposit back<br />Return used: club will receive only deposit back"></span>
      </label>

      <div class="form-group btn-toolbar">
        <div class="btn-group" data-toggle="buttons">
          <label id="out" class="btn btn-lg btn-action <% if @option == :out || @option.nil? %>active btn-primary<% else %>btn-default<% end %>">
            <input type="radio" name="scan[options]" id="options" value="out" <% if @option == :out || @option.nil? %>checked<% end %>><span class="glyphicon glyphicon-log-out"></span> Pick up
          </label>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label id="return_unused" class="btn btn-lg btn-action <% if @option == :return_unused %>active btn-primary<% else %>btn-default<% end %>">
            <input type="radio" name="scan[options]" id="options" value="return_unused" <% if @option == :return_unused %>checked<% end %>><span class="glyphicon glyphicon-log-in"></span> Return unused
          </label>
          <label id="return_used" class="btn btn-lg btn-action <% if @option == :return_used %>active btn-primary<% else %>btn-default<% end %>">
            <input type="radio" name="scan[options]" id="options" value="return_used" <% if @option == :return_used %>checked<% end %>><span class="glyphicon glyphicon-log-in"></span> Return used
          </label>
        </div>
      </div>

      <div class="form-group typeahead-scan">
        <label for="partner">Partner:</label>
        <input required type="text" class="form-control typeahead" autofocus
               placeholder="Start searching by entering a name or barcode" name="scan[partner]" id="partner">
      </div>

      <div class="form-group typeahead-scan">
        <label for="item">Item:</label>
        <input required type="text" class="form-control typeahead"
               placeholder="Start searching by entering a name or barcode" name="scan[item]" id="item">
      </div>

      <div class="form-group">
        <label for="count">Amount:</label>
        <input class="form-control" id="count" name="scan[count]" type="number" value="1">
      </div>

      <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<script>
  // Partners
  var partners = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.nonword('name', 'barcode'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch:  {
      url: '<%= list_partners_path %>',
      cache: false,
    }
  });

  partners.initialize();

  $('#partner').typeahead(
    {
      hint: true,
      highlight: true,
      minLength: 1,
      autoselect: true
    },
    {
      name: 'partner',
      displayKey: function(partner) {
        return partner.name + ' - ' + partner.barcode;
      },
      source: partners.ttAdapter(),
      templates: {
        suggestion: function(item) {
          var container = $('<div/>');
          var name = $('<span/>', {
            class: "typeahead-scan-name",
            text: item.name
          });
          var barcode = $('<span/>', {
            class: "typeahead-scan-barcode",
            text: item.barcode
          });
          return container.append(name).append(barcode);
        }
      }
    }
  ).bind("typeahead:selected", function(obj, datum, name) {
    $('#item').focus();
  }).bind("typeahead:autocompleted", function(obj, datum, name) {
    $('#item').focus();
  });

  // Items
  var items = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.nonword('name', 'barcode'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch:  {
      url: '<%= list_items_path %>',
      cache: false,
    }
  });

  items.initialize();

  $('#item').typeahead(
    {
      hint: true,
      highlight: true,
      minLength: 1,
      autoselect: true
    },
    {
      name: 'items',
      displayKey: function(item) {
        return item.name + ' - ' + item.barcode;
      },
      source: items.ttAdapter(),
      templates: {
        suggestion: function(item) {
          var container = $('<div/>');
          var name = $('<span/>', {
            class: "typeahead-scan-name",
            text: item.name
          });
          var barcode = $('<span/>', {
            class: "typeahead-scan-barcode",
            text: item.barcode
          });
          return container.append(name).append(barcode);
        }
      }
    }
  ).bind("typeahead:selected", function(obj, datum, name) {
    $('#count').focus();
  }).bind("typeahead:autocompleted", function(obj, datum, name) {
    $('#count').focus();
  });
</script>
