<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>

   <body>
     <p>Beste <%= @partner.name %>,</p>

     <p>Hieronder vinden jullie de persoonlijke barcode voor jullie kring. Deze hebben jullie nodig om vlot materiaal op te kunnen halen aan de materiaalpost.</p>
     <br />
     <%= image_tag attachments['barcode.png'].url %>
     <p><strong><tt><%= @partner.barcode %></tt></strong></p>
     <br />

     <p><strong>Vergeet deze email niet af te printen en mee te brengen. Zonder deze barcode kan er geen materiaal worden opgehaald. Het is niet voldoende deze barcode op een elektronisch apparaat te tonen; onze scanners kunnen dit niet lezen.</strong><p>

     <p>Mocht er zich eender welk probleem voordoen, kan u ons altijd via e-mail contacteren: <%= mail_to Settings.instance.email || "fillmein@noreply.com" %>.</p>

     <p>Met vriendelijke groet,<br />De <%= Settings.instance.organisation_name || "fillmein" %></p>

  </body>
</html>
