<tr>
  <%= form_for [object], remote: true do |f| %>
    <td><%= f.text_field :name, class: 'form-control' %></td>
    <td><%= f.text_field :description, class: 'form-control' %></td>
    <td><%= f.text_field :price, value: number_with_precision(f.object.price, precision: 2), class: 'form-control', placeholder: "0.00" %></td>
    <%# <td><%= f.number_field :quantity, class: 'form-control' %1></td> %>
    <td><%= f.button button_name, class: 'btn btn-sm btn-primary' %></td>
    <%= javascript_tag do %>
      var id = "#<% if button_name == 'Save' %>edit_<% end %><%= dom_id(f.object) %>";
      var inputs = $(id).parent().find('input');
      $(id).parent().find('button').on('click', function(e) {
        e.preventDefault();
        $(id).append(inputs.clone());
        $(id).append('<input type="hidden" name="_method" value="<%= action %>">');
        $(id).submit();
      });
    <% end %>
  <% end %>
</tr>
