<%= form_for [object], html: { style: 'display: contents'} do |f| %>
  <span class="td">
    <%= render partial: 'table_field_with_feedback', locals: {
      f: f, field: :name, field_type: :text_field
    } %>
  </span>
  <span class="td">
    <%= render partial: 'table_field_with_feedback', locals: {
      f: f, field: :description, field_type: :text_field
    } %>
  </span>
  <span class="td">
    <%= render partial: 'table_field_with_feedback', locals: {
      f: f, field: :price, field_type: :price_field
    } %>
  </span>
  <span class="td">
    <%= render partial: 'table_field_with_feedback', locals: {
      f: f, field: :deposit, field_type: :price_field
    } %>
  </span>
  <span class="td">
    <%= f.hidden_field :category, value: f.object.category %>
    <%= f.button button_name(object, f.object.category), class: 'btn btn-primary' %>
  </span>
<% end %>
