<div class="tr" id="<%= dom_id(item) %>">
  <span class="td"><%= item.name %></span>
  <span class="td"><%= item.description %></span>
  <span class="td"><%= number_with_precision item.price, precision: 2 %></span>
  <% if defined? quantity %>
    <span class="td"><%= quantity %></span>
    <span class="td"><%= number_with_precision quantity*item.price, precision: 2 %></span>
  <% else %>
    <span class="td">
      <div class="nowrap">
        <%= render "items/actions", item: item %>
      </div>
    </span>
  <% end %>
</div>
