<tr>
  <td><%= item.name %></td>
  <td><%= item.description %></td>
  <td><%= euro item.price %></td>
  <td><%= euro item.deposit %></td>
  <td>
    <%= render "items/actions", item: item %>
  </td>
</tr>
