<!DOCTYPE html>
<html>
  <head>
    <title>Saruman</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">

    <%= render partial: "layouts/ga" if Rails.env.production? %>
    <%= render partial: "layouts/favicon" %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <header class="p-3 text-bg-dark">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <%= inline_svg_tag('logo.svg', options={class: 'bi me-2', width: '50px'}) %>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <% if can? :manage, :all %>
            <li><%= link_to "Partners", users_path, class: "nav-link px-2 text-white" %></li>
            <li><%= link_to "Items", items_path, class: "nav-link px-2 text-white" %></li>
            <li><%= link_to "Scan", scan_path, class: "nav-link px-2 text-white" %></li>
            <li><%= link_to "Report", reports_path, class: "nav-link px-2 text-white" %></li>
            <li><%= link_to "Application settings", setting_path, class: "nav-link px-2 text-white" %></li>
          <% elsif current_user %>
            <li><%= link_to "Reservations", user_path(current_user), class: "nav-link px-2 text-white" %></li>
          <% end %>
        </ul>

        <ul class="nav col-lg-auto mb-3 mb-lg-0 justify-content-center mb-md-0">
          <li><%= mail_to "saruman@zeus.ugent.be", "Send feedback", class: "nav-link px-2 text-white" %></li>
          <% if user_signed_in? %>
            <% if can? :crud, User %>
              <li>
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fs-5 bi bi-person-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small">
                  <li><%= link_to "Edit password", edit_user_registration_path, class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                </ul>
              </li>
            <% else %>
              <%= current_user.name %> (<%= current_user.email %>)
              <i class="fs-5 bi bi-person-circle"></i>
            <% end %>
          <% end %>
        </ul>

        <div class="text-end">
          <% unless user_signed_in? %>
            <%= link_to "Admin login", new_user_session_path, { id: 'login-button', class: "btn btn-warning", title: 'This is for admins only. Partners should log in using their personal link sent by email!', data: { toggle: 'tooltip', placement: 'bottom' } } %>
          <% end %>
        </div>
      </div>
  </header>

  <%= yield :subnav %>

  <main>
    <div class="p-4">
      <% if can? :manage, :all and (!Settings.instance.valid?) %>
        <div class="alert alert-danger" role="alert"><strong>Warning!</strong> No name or emailadress has been set. <%= link_to "Fill in a name and contact email here", edit_setting_path, { class: "alert-link" } %>. Ignoring this settings will cause the application to malfunction.</div>
      <% end %>
      <%= render partial: 'flash' %>
      <%= yield %>
    </div>
  </main>

  <div class="p-4">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; <a href="https://zeus.ugent.be/" target="_blank">Zeus WPI</a> 2014-<%= Time.current.year %></p>

      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <%= inline_svg_tag('logo.svg', options={class: 'bi me-2', width: '50px'}) %>
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://github.com/ZeusWPI/Saruman" class="nav-link px-2 text-body-secondary">GitHub</a></li>
        <li class="nav-item"><a href="https://zeus.gent/about/about/" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item"><a href="https://zeus.gent/about/privacy/" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
        <li class="nav-item"><a href="https://zeus.gent/.well-known/security.txt" class="nav-link px-2 text-body-secondary">Responsible Disclosure Policy</a></li>
        <li class="nav-item"><a href="https://raw.githubusercontent.com/ZeusWPI/Tab/master/LICENSE.txt" class="nav-link px-2 text-body-secondary">License</a></li>
        <li class="nav-item"><a href="https://zeus.gent/contact/" class="nav-link px-2 text-body-secondary">Contact</a></li>
      </ul>
    </footer>
  </div>
</body>
</html>
