<!DOCTYPE html>
<html>
  <head>
    <title>Saruman</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render partial: 'layouts/ga' if Rails.env.production? %>
    <%= render partial: 'layouts/favicon' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
